.background{
    background-color:#23A6F0;
    background-image: url(Assets/hero-cover.3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 2px;
    
}
.doll{
    text-align: center;
    justify-content: space-around;
}
.Box{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    justify-content: space-around;
    margin-bottom: 25%;
    /* background-color: #edf5f1; */
    align-items: center;
    float: inline-end;
}
.top{
    /* height: 5%; */
    padding-top: 1%;
    align-items: center;
    border: 1px solid white;
    background-color: whitesmoke;
    text-align: center;
    width: 15%;
    /* border-radius: 8px; */
    display: inline-table;
    justify-content: space-evenly;
    
}
.middle{
    height: 8%;
    padding-top: 1%;
    align-items: center;
    border: 1px solid white;
    background-color:whitesmoke ;
    text-align: center;
    width: 15%;
    display: inline-table;
    justify-content: space-evenly;
}
.bottom{
    height: 8%;
    padding-top: 1%;
    align-items: center;
    border: 1px solid white;
    background-color:#23A6F0;
    text-align: center;
    width: 15%;
    display: inline-table;
    justify-content: space-evenly;
}
.page{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    justify-content: space-around;
   background-color:solid white; 
   /* justify-content: space-evenly; */
}
.far-left{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    text-align: center;

}
.far-middle{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    /* text-shadow: thistle; */
    text-align: center;

}    
.far-right{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    text-align: center;

}
.pauline{
    background-color: whitesmoke;
}
.ellam{
    text-align: center;
}
.item{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
    justify-content: space-between;
    /* background-color: solid whitesmoke; */
}
.item1{
    height: 40%;
    width: 20%;
    border: 1px solid grey;
    background-color: solid whitesmoke;
    /* justify-content: space-between; */
    text-align: center;
   
    
}
img{
    height: 60%;
    width: 40%;
}
.item2{
    height: 40%;
    width: 20%;
    border: 1px solid grey;
    text-align: center; 
}
.item3{
    height: 40%;
    width: 20%;
    border: 1px solid grey;
    text-align: center; 
}
.lily{
    display: flex;
    flex-direction: row;
    /* width: 20%; */
    justify-content: space-between;

}
.J .K .L .M .N .O{
    height: 40%;
    width: 50%;
    
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    width: 50%;
    background-color:rgb(128, 0, 128);
}
.script{
    margin-top: 10px;
    height: 40%;
    width: 60%;
}
#gee{
    height: 50%;
    width: 30%;
    background-color: lightseagreen;
}
.price{
    text-align: center;
}
.mobile-apps{
    margin-left: 600px;
    
}
.world{
    border: 1px solid black;
    padding-bottom: 300px;
    background-color: #252B42;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Africa{
    padding-left: 150px;
}
.picture{
    display: flex;
    flex-direction: row;
}
.far{
    /* border: 1px solid black; */
    border-collapse: collapse ;
}
.rose{
    margin-top: 30px;
    /* width: 100%; */
}
#book{
    width: 100%;
    background-color:skyblue;
}
