/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
} */
.background{
    background-color:#23A6F0;
    background-image: url(Assets/hero-cover.3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 2px;
    /* border: 1px solid black; */

    
}
.navbar{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    padding-top: 20px;
    justify-content: space-around;
    margin-top: 5px;
}
.row{
    display:flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width:30%;
    padding-left: 100px;
    justify-content: space-between;
    padding-right:-200px ;
}
.navbar h2{
    border: 1px solid white;
    margin-top: -10px;
    color: white;
    top: -10px;
}

#member{
    /* width: 60%;
    height: 60%; */

    /* margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 30%;
    padding-left: 2px; */
    border: 1px solid whitesmoke;
    width: 70%;
    background-color:#23A6F0;
    margin-right: 300px;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: stretch;
    justify-content: space-evenly;
    /* padding-left: 10px;
     */
}
.doll{
   /* border: 1px solid white; */
   margin-top:600px ;
     text-align: center;
    display: flex;
    flex-direction: column;
    
    
}
.doll h1{
    font-size: 70px;
    color:white ;
}
.doll p{
    font-size: x-large;
    color: gray;
    text-align: center;
    
}
#quote {  
   width: 15%;
   height: 50px;
   border-radius: 20px;
   background-color: #23A6F0;
}
#Learn{
    width: 15%;
    height: 50px;
    border-radius: 20px;
    background-color:rgba(0,0,0,0);
}
.Box{
    display: flex;
    height: 45rem;
    flex-direction: row;
    /* position: relative; */
    margin-top: auto;
    justify-content: center;
   
    align-items: center;
    /* float: inline-end; */
}
.top{
    /* height: 5%; */
    padding-top: 60px;
    align-items: center;
    border: 1px solid white;
    margin-top: 750px;
    margin-right: 50px;
    background-color: whitesmoke;
    text-align: center;
    width: 20%;
    height: 30%;
    /* border-radius: 8px; */
    display: inline-table;
    justify-content: center;
    
}
.top p{
color:#252B42;
text-align: center;
}
.far {
color: #23A6F0;
margin-right: -500px;
padding: 10px;
padding-left: -50px;
background-color: transparent;
/* border: 1px solid black; */
position: relative; */
left: 100px;
width: 50%;
margin-left: -200px;
}
.fa  {
    border: 1px orange;
    color: transparent;
    font-size: 20px

}
.fa-star checked{
    color: orange;
}
.fa {
    color: green;
    font-size: 20px;
}
.middle{
    padding-top: 60px;
    align-items: center;
    border: 1px solid white;
    margin-top: 750px;
    margin-right: 50px;
    background-color:whitesmoke ;
    text-align: center;
    width: 20%;
    height: 30%;

    display: inline-table;
    justify-content: space-evenly;
}
.middle p{
color: #252B42;
text-align: center;
}
.bottom{
    padding-top: 60px;
    align-items: center;
    border: 1px solid white;
    margin-top: 750px;
    background-color:#23A6F0;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 30%;
    display: inline-table;
    justify-content: space-evenly;
}
.bottom h3{
    color:white ;
}
.bottom p{
    text-align: center;
}

.color-primary{
    color:#23A6F0;
}
.page{
    display: flex;
    /* height: 60%;
    flex-direction: row;
    position: relative;
    /* margin-top: auto; */
    justify-content:center;
    /* border: 1px solid black; */
    margin-top: 400px;
   background-color:solid white; 
   /* justify-content: space-evenly; */
}
.far-left{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    margin-right: 50px;
    text-align: center;

}
.far-left h3{
    color: #252B42;
}
.far-left p{
    color:grey;
    text-align: center;
}
.far-middle{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    margin-right: 50px;
    color: orange;
    /* text-shadow: thistle; */
    text-align: center;
}    
.far-middle h3{
    color: #252B42;
}
.far-middle p{
color: gray;
text-align: center;
}
.far-right{
    height: 10%;
    width: 20%;
    border: 1px solid white;
    text-align: center;

}
.far-right h3{
    color: #252B42;
}
.far-right p{
color: gray;
text-align: center;
}
.pauline{
    background-color: whitesmoke;
    /* border: 1px solid black; */
    margin-top: 100px;
}
.pauline h2{
    color: #252B42;
}
.pauline p{
    color: gray;
}
.ellam{
    text-align: center;
}
.ellam p{
    text-align: center;
}
.item{
    display: flex;
    height: 45rem;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
    justify-content: centre;
    /* background-color: solid whitesmoke; */
}
.item1{
    height: 40%;
    width: 20%;
    border: 1px solid whitesmoke;
    padding-bottom: 15px;
    background-color:white;
    color: orange;
    /* justify-content: space-between; */
    text-align: center;
    margin-left: 200px;
    margin-right:70px ;
    
}
.item1 p{
    text-align: center;
}
img{
    height: 60%;
    width: 40%;
}
.item2{
    height: 40%;
    width: 20%;
    border: 1px solid whitesmoke;
    padding-bottom: 15px;
    background-color: white;
    text-align: center; 
    margin-right: 70px;
}
.item2 p{
    text-align: center;
}
.item3{
    height: 40%;
    width: 20%;
    border: 1px solid whitesmoke;
    padding-bottom: 15px;
    background-color: white;
    text-align: center; 
}
.item3 p{
text-align: center;
}
.lily{
    display: flex;
    flex-direction: row;
    /* width: 20%; */
    /* border: 1px solid white; */
    margin-top:-150px ;
    margin-left: 200px;
    margin-right: 200px;
    width: 70%;
    justify-content: centre;

}
.J .K .L .M .N .O{
    height: 40%;
    width: 50%;
    
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    
    background-image:linear-gradient(to right,#252B42,rgb(255, 61, 174))
}
.subscribe p{
    font-size: 20px;
    color: white;
}
.script{
    margin-top: 10px;
    height: 40%;
    width: 60%;
}
#gee{
    height: 50%;
    width: 30%;
    background-color: lightseagreen;
}
.one{
    padding-top: 10px;
}
.price{
    text-align: center;
}
.price p{
    text-align: center;
}
.mobile-apps{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right:100px ;
    justify-content: center;
    
}

.free{
    border: 2px solid lightskyblue;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    width: 16%;
    /* height: 100%; */
    background-color: white;

    
}
.free, h1{
    color: #252B42;
}
.free, p{
    text-align: start;
}
.premium{
    border: 2px solid lightskyblue;
    border-radius: 10px;
    text-align: center;
    width: 16%;
    background-color: white;
}
.standard{
    border: 2px solid lightskyblue;
    text-align: center;
    width: 16%;
    background-color: #252B42;
    margin-top: -25px;
    border-radius: 10px;
}
.standard h1{
    color: white;
} 
.standard h2, p{
    color: white;
}
#phone{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #23A6F0;
}
.world{
    /* border: 1px solid black; */
    padding-top: 100px;
    padding-bottom: 300px;
    background-color: #252B42;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Africa{
    padding-left: 150px;
}
.Africa p{
    font-size: 15px;
    color: white;
}
.Africa h1{
    color: white;
}
.picture{
    display: flex;
    justify-content: center;
}
.cover{
    height: 60%;
    /* border: 1px solid black; */
    margin-left: 200px;
    margin-top: -250px;
}
.far{
    /* border: 1px solid black; */
    margin-top: -250px;
    background-color: white;
    margin-left: -120px;
    width: 40%;
    border-collapse: collapse ;
    left: -200px;
    position: relative;
    padding-left: 50px;
}
.rose{
    margin-top: 30px;
    /* width: 100%; */
}
#book{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#23A6F0;
}
.contact{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-top: 120px;
    justify-content: space-around;
}
#num{
    height:30%;
    /* padding-bottom: 2px; */
    padding-top: 10px;
    width: 10%;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: -50px;

    background-color: #23A6F0;
}
  .column{
      display: flex;
      flex-direction: row;
      justify-content: center;

  }  
.column h2{
    color: #252B42;
    font-type:montserrat
}
.column p{
    color: gray;
}
.W{
    /* border: 1px solid black; */
    margin-right: 40px;
}
.X{
    /* border: 1px solid black; */
    margin-right: 40px;
}
.Y{
    /* border: 1px solid black; */
    margin-right: 40px;
}
.Z{
    /* border: 1px solid black; */
    margin-right: 40px;
}
.A{
    /* border: 1px solid black; */
    margin-right: 40px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:whitesmoke;
}
.footer p{
    color: gray;
}
@media only screen and (max-width: 720px) {

}

    
}